
.footerimg{
    position: relative;
    background-color: grey;
}

footer{
    background-color: grey;
    color: white;
    width: 100%;
    height: 70vh;
}
.footerimg>img{
    position: absolute;
    height: 100vh;
    right: 0;
    top: -30vh;
    z-index: 5;
}
.social img{
    width: 3vw;
    filter: invert(1);
}
.social{
    display: flex;
    gap: 2vw;
    padding: 2vw;    
}
.contact{
    font-size: 24px;
    font-weight: bolder;
    padding: 4vw 2vw;
}
.coninfo{
    padding: 0 2vw;
    display: flex;
    gap: 25vw;
    font-size: 14px;
    font-size: medium;
}
.info{
    max-width: 50vw;
    padding: 2vw;
}
.copyright{
    position: absolute;
    bottom: 1vh;
    font-weight: bolder;
    padding: 0 2vw;
    
}