.appointment-page-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
  background-size: cover;
  color: black;
}

.appointment-page-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  z-index: 1; /* Ensure the overlay is behind the form */
}

.appointment-form-container {
  min-width: 80vw;
  margin: auto;
  padding: 20px;
  background-color: grey;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Set the form's position to relative */
  z-index: 2; /* Ensure the form is on top of the overlay */
}
.appointment-form-heading {
  text-align: center;
  margin-bottom: 20px;
}

.appointment-form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 15px;
}

.appointment-form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.appointment-form-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.appointment-form-input,
.appointment-form-select,
.appointment-form-textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.appointment-form-textarea {
  height: 100px;
  resize: none;
}

.appointment-submit-button {
  background-color: rgb(238, 10, 18);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.appointment-submit-button:hover {
  background-color: orange;
  color: black;
}

.appointment-success-message {
  margin-top: 10px;
  color: orange;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 768px) {
  .appointment-form-row {
    flex-direction: column;
  }
}
